{# templates/partners/index.html.twig #}

{% extends 'base.html.twig' %}

{% block body %}                  
            <!-- .row-custom -->
            <div class="row-custom animation" data-animation="animation-fade-in" data-delay=" {% if app.session.flashbag.peekAll|length > 0 %}3400{%else%}200{% endif %}" >     
                <div class="post-heading-center">
                	<h2>Uw partner</h2>
                </div>
            
                <div class="col-left">
                	<div class="affa-feature-icon"> <!-- 1 -->
                    	<i class="fas fa-user" ></i>
                        <div class="feature-text">
                        	<h4>{{ user.naam.voornamen }} {{  user.naam.geslachtsnaam }}</h4>
                            <p>
	                            Dit bent u zelf
                            </p>
                        </div>
                    </div>
                    
                    <div class="affa-feature-icon"> <!-- 2 -->
                    	<i class="fas fa-home " ></i>
                        <div class="feature-text">
                        	<h4>Adres</h4>
                            <p>
                            {{ user.verblijfadres.straatnaam }} {{  user.verblijfadres.huisnummer }} <br />
                            {{ user.verblijfadres.postcode }} {{ user.verblijfadres.woonplaats }}<br />
                            {{ user.emailadres }}<br />
                            {{ user.telefoonnummer }}
                            </p>
                         </div>
                    </div>
                    
                    <!-- Uitnodigen partner 2 -->
                    <div class="affa-feature-icon"> <!-- 6 -->
                    	<i class="fas fa-envelope"></i>
                        <div class="feature-text">
                        	<h4>Uw contact gegevens</h4>
                            <p>We willen graag nog een paar dingen van u weten</p>         
                            <br/>                   
		                	<form method="post" action="{{ path('app_partner_update')}}" class="affa-form-contact">
		                    	<div class="submit-status"></div> <!-- submit status -->

                                <label for="partner_email">Email Adres <span class="required">*</span></label>
                                <input type="text" name="emailadres" placeholder="john@do.nl" value="{{  user.emailadres }}"/>
                                <label for="partner_telefoonnummer">Telefoonnummer</label>
                                <input type="text" name="telefoonnummer" placeholder="+31 6 12345678" value="{{ user.telefoonnummer }}"/>                                
 								<button type="submit" class="btn btn-success btn-lg btn-block btn-icon"><i class="far fa-envelope"></i> Opslaan</button> 								
		                    </form>
                        </div>
                    </div>
                </div>
                
                <div class="col-center">
                	<figure class="margin-bottom40 " >
                    	<img src="images/content/elements/MakeItKnown.png"/>
                    </figure>
                </div>
                
                <div class="col-right">
					<!-- NAW gegevens partner 2 -->					
            	    {% if huwelijk.partners|length > 1 %}            	    
                    {% for partner in partners %}		
            	    {% if partner.id != user.id %}    
                	<div class="affa-feature-icon"> 
                    	<i class="fas fa-user " ></i>
                        <div class="feature-text">
                        	<h4>{{partner.naam.voornamen }} {{ partner.naam.geslachtsnaam}}</h4>
                            <p>
	                            {# huwelijk.partners[1].status #} 
                            </p>
                        </div>
                    </div>
                   
					<!-- Overige gegevens partner 2 -->
                    <div class="affa-feature-icon" > <!-- 5 -->
                    	<i class="fas fa-home"></i>
                        <div class="feature-text">
                        	<h4>Adres en contact</h4>
                            <p>
                            {# partner.verblijfadres.straatnaam }} {{ partner.huisnummer }} <br />
                            {{ partner.persoon.verblijfadres.postcode }} {{ partner.verblijfadres.woonplaats }}<br />
                            {{ partner.persoon.emailadres }}<br />
                            {{ partner.telefoonnummer #}

							</p>
							
							
     						<a href="{{ path('app_product_index') }}" class="btn btn-primary btn-icon btn-block"><i class="far fa-rings-wedding"></i> Ga door naar ceremonie</a>
                        </div>
                    </div>        
                    {% endif %}
                    {% endfor %}
                    {% else %} 
					<!-- Uitnodigen partner 2 -->
                    <div class="affa-feature-icon"> <!-- 6 -->
                    	<i class="fas fa-envelope"></i>
                        <div class="feature-text">
                        	<h4>{% if huwelijk is defined and huwelijk.type is defined  %}Vraag uw partner ten  {{ huwelijk.type|capitalize }}{% else %}Nodig uw partner uit{% endif %}.</h4>
                            <p>Want dit doet u natuurlijk samen</p>         
                            <br/>                   
		                	<form method="post" action="{{ path('app_partner_index')}}" class="affa-form-contact">
		                    	<div class="submit-status"></div> <!-- submit status -->

								<label for="partner_voornamen">Voornaam(en)</label>
                                <input type="text" name="voornamen" placeholder="John" />
                                <label for="partner_geslachtsnaam">Achternaam</label>
                                <input type="text" name="geslachtsnaam" placeholder="Do" />
                                <label for="partner_email">Email Adres <span class="required">*</span></label>
                                <input type="text" name="emailadres" placeholder="john@do.nl" />
                                <label for="partner_telefoonnummer">Telefoonnummer</label>
                                <input type="text" name="telefoonnummer" nlaceholder="+31 6 12345678" />
                                
 								<button type="submit" class="btn btn-success btn-lg btn-block btn-icon"><i class="far fa-envelope"></i> Per bericht Uitnodigen</button>
 								
		                    </form>
                            <p>- Of -</p>
                            
                        	<a href="" class="btn btn-success btn-lg btn-block btn-icon"><i class="far fa-lock"></i> Uw partner laten inloggen</a>     
                        </div>
                    </div>
                    {% endif %} 
                    
                </div>
                
            </div>
            <!-- .row-custom end -->   
    	    
            
            {% if huwelijk is not empty and huwelijk.type is not empty %} 
              
            {% endif %}    
    
{% endblock %}
