{# templates/home/index.html.twig #}

{% extends '/beheer/index.html.twig' %}

{% block admin %}

	
	<!-- Lets run summernote for the description fields -->
	
     <form class="form-horizontal" role="form" method="post" action="{{ path('app_beheer_ambtenaar', {id:ambtenaar.id})}}">
         <div class="form-group">
        	{{ form_label(form.aanhef) }}
         	<div class="col-sm-10">
            	{{ form_widget(form.aanhef) }}
            </div>
          </div>
         <div class="form-group">
        	{{ form_label(form.voornaamen) }}
         	<div class="col-sm-10">
            	{{ form_widget(form.voornaamen) }}
            </div>
          </div>
         <div class="form-group">
        	{{ form_label(form.geslachtsnaam) }}
         	<div class="col-sm-10">
            	{{ form_widget(form.geslachtsnaam) }}
            </div>
          </div>
         <div class="form-group">
        	{{ form_label(form.samenvatting) }}
         	<div class="col-sm-10">
            	{{ form_widget(form.samenvatting) }}
            </div>
          </div>
         <div class="form-group">
        	{{ form_label(form.beschrijving) }}
         	<div class="col-sm-10">
            	{{ form_widget(form.beschrijving) }}
            </div>
          </div>
         <div class="form-group">
         	<div class="col-sm-12">
                {{ form_row(form.opslaan) }}
            </div>
          </div>
          {{ form_rest(form) }}	
     </form>
    
    
	<script>
	$(document).ready(function() {
      $('#ambtenaar_samenvatting').summernote();
      $('#ambtenaar_beschrijving').summernote();
    });
	</script>
{% endblock %}
