{# templates/home/index.html.twig #}

{% extends 'base.html.twig' %}

{% block body %}
            <!-- .tbl-pricing -->
            <div class="tbl-pricing tbl-prc-recommended animation" data-animation="animation-fade-in" data-delay=" {% if app.session.flashbag.peekAll|length > 0 %}3400{%else%}200{% endif %}" >                
                <!-- .row -->
                <div class="row">
        	
                    <div class="post-heading-center">
                    	<h2>Hoe willen jullie trouwen?</h2>
                    </div>
	                            
                    {% for product in producten %} 
                    <div class="col-sm-4 tbl-prc-col {% if huwelijk is not empty and huwelijk.primairProduct is not empty and product.id == huwelijk.primairProduct.id %}tbl-prc-col-recommended{%  endif  %}" > <!-- 1  -->
                    	<div class="tbl-prc-wrap">
                        	<div class="tbl-prc-heading">
                            	<h4>
                                	{% if huwelijk is not empty and huwelijk.primairProduct is not empty and product.id == huwelijk.primairProduct.id %}
    								<i class="fas fa-check"></i>
                                    {%  endif  %}                            	
                                    {{ product.naam }}
                                </h4>
                            </div>
                            <div class="tbl-prc-price bg-yellow">
                                <h5>&euro; {{ product.exclAmount / 100 }} </h5>
                                <p>{{ product.samenvatting|raw }}</p>
                            </div>
                            <ul class="tbl-prc-list">
                                <li>Eerste mogelijkheid: <b>{{  product.beschikbaar |date("Y-d-m") }}</b></li>
                            </ul>
                            {{ product.beschrijving|raw }}
                            <div class="tbl-prc-footer">
	                            <a href="{{ path('app_huwelijk_view',{'id':product.id}) }}"  class="btn btn-secondary btn-icon  btn-block" >Meer lezen</a> 
                                {% if huwelijk is not empty and huwelijk.aanvraag is empty %}
	                            <br/><br/>
	                            <a href="{{ path('app_huwelijk_set',{'id':product.id}) }}"  class="btn btn-primary btn-icon  btn-block">Ja dit wil ik!</a> 
	                            {% elseif  huwelijk is not empty and huwelijk.aanvraag is not empty%}
	                            <br/><br/>
	                            U heeft reeds een reserving gedaan, neem contact op als u uw huwelijks type nog wil wijzigen.<br/><br/>
                    			<a href="{{ path('app_datum_index') }}"  class="btn btn-primary btn-icon  btn-block">Doorgaan naar datum</a> 
                                {% else %}
	                            <br/><br/>
	                            U dient in te loggen voordat u een huwelijks type kan selecteren.<br/><br/>
                    			<a href="http://digispoof.zaakonline.nl?responce_url={{ absolute_url(path('app_home_login'))|replace({'http://': 'https://'}) }}"  class="btn btn-primary btn-icon  btn-block"><span class="fas fa-sign-in-alt"></span> Inloggen</a> 
	                            
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    {% endfor %}                        
                    
                </div>
                <!-- .row end -->
                
            </div>
            <!-- .tbl-pricing end -->        
{% endblock %}
